<h1>Are you making a new recipe?</h1>

<form class="" action="/recipes" method="post">
  <p>Name:</p>
  <input type="text" name="name" value="naming it...">
  <p>ingredients</p>
  <input type="text" name="ingredients" value="stuff in it">
  <p>cook time</p>
  <input type="text" name="cook_time" value="burnt?">
  <input type="submit" name="" value="submit">
</form>
